// ----- Demo global styles ------ //

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  background: #fafafa;
  color: #333;

  @media (min-width: 600px) {
    padding: 0 2rem;
  }
}

main {
  max-width: 40rem;
  margin: 0 auto;
  background: white;
  padding: 2rem;

  @media (min-width: 600px) {
    padding: 4rem;
    border-left: 1px solid #f4f4f6;
    border-right: 1px solid #f4f4f6;
  }
}

h1,
h2 {
  margin: 0;
  line-height: 1.2;
}

h2 {
  margin-bottom: 0.5em;
}

p {
  color: #636365;
  max-width: 25em;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  background: #f4f4f6;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

.links {
  display: flex;
  gap: 0.5rem;
  color: #636365;
  margin: 0.5rem 0 1.5rem;
}

a,
.toggle-debug {
  color: #0070f3;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 0;
  margin: 0;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #ccc;

  &:hover {
    text-decoration-color: currentColor;
  }
}

// ----- Values ----- //

.values {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: 'Menlo', 'DejaVu Sans', 'Courier New', monospace;
  font-size: 0.875rem;
}

.debug {
  .dual-range-input input {
    outline-offset: -1px;
  }

  input:first-child {
    outline: 1px solid rgba(255, 165, 0, 0.5);
    --dri-track-filled-color: rgb(254, 195, 85);
    --dri-thumb-color: orange;
    --dri-thumb-hover-color: rgb(236, 154, 0);
    --dri-thumb-active-color: rgb(207, 134, 0);
  }
  input:last-child {
    outline: 1px solid var(--dri-thumb-hover-color);
  }
}

.demo + .demo {
  margin-top: 4rem;
}

.demo--blank {
  .inputs {
    display: flex;
    --dri-thumb-width: 1rem;
  }

  .inputs:has(input:focus-visible) {
    outline: 1px solid #ddd;
    outline-offset: 2px;
  }

  input {
    flex-basis: 50%;
    min-width: 1rem;
    margin: 0;
    padding: 0.5rem 0;
  }

  input:first-child {
    accent-color: rgb(0, 142, 128);
    outline: 1px solid rgba(0, 142, 128, 0.5);
  }

  input:last-child {
    accent-color: rgb(221, 0, 140);
    outline: 1px solid rgba(221, 0, 140, 0.5);
  }
}

.demo--purple .dual-range-input {
  --dri-thumb-width: 2rem;
  --dri-thumb-height: 2rem;

  --dri-thumb-color: #ddd;
  --dri-thumb-active-color: rgb(104, 42, 248);
  --dri-thumb-hover-color: rgb(182, 151, 255);
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);

  --dri-track-filled-color: rgb(104, 42, 248);

  --dri-height: 2rem;
}

.demo--pink .dual-range-input {
  --dri-thumb-width: 2.5rem;
  --dri-thumb-height: 1.5rem;

  --dri-thumb-color: #ddd;
  --dri-thumb-active-color: rgb(255, 78, 178);
  --dri-thumb-hover-color: rgb(255, 168, 209);
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);

  --dri-track-height: 0.5rem;
  --dri-track-color: rgba(255, 168, 209, 0.1);
  --dri-track-filled-color: rgb(255, 78, 178);

  --dri-thumb-border-radius: 0.25rem;
  --dri-height: 1.5rem;
}

.demo--thick .dual-range-input {
  --dri-height: 2rem;

  --dri-track-height: 2rem;
  --dri-track-color: #f1f3f1;
  --dri-track-filled-color: #6ee7b7;

  --dri-thumb-color: #34d399;
  --dri-thumb-hover-color: #10b981;
  --dri-thumb-active-color: #059669;
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);
  --dri-thumb-height: 2rem;
  --dri-thumb-width: 2rem;
}
